{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Members{% endblock %}

{% block content %}
    <script>
      function navmonth(monthId)
      {
        location.href="/members/"+monthId;
      }
    </script>

    <h2>Phillippo Members</h2> <br>

    <h2>View Members by Month:</h2>

    <div class="monthsbox">
      <input id="Jan" type="submit" class="button" value="Jan" onClick="navmonth(this.id)">
      <input id="Feb" type="submit" class="button" value="Feb" onclick="navmonth(this.id)">
      <input id="Mar" type="submit" class="button" value="Mar" onclick="navmonth(this.id)">
      <input id="Apr" type="submit" class="button" value="Apr" onclick="navmonth(this.id)">
      <input id="May" type="submit" class="button" value="May" onclick="navmonth(this.id)">
      <input id="Jun" type="submit" class="button" value="Jun" onclick="navmonth(this.id)">
      <input id="Jul" type="submit" class="button" value="Jul" onclick="navmonth(this.id)">
      <input id="Aug" type="submit" class="button" value="Aug" onclick="navmonth(this.id)">
      <input id="Sep" type="submit" class="button" value="Sep" onclick="navmonth(this.id)">
      <input id="Oct" type="submit" class="button" value="Oct" onclick="navmonth(this.id)">
      <input id="Nov" type="submit" class="button" value="Nov" onclick="navmonth(this.id)">
      <input id="Dec" type="submit" class="button" value="Dec" onclick="navmonth(this.id)">
    </div>

    {% if not members %}

        <hr>
          <p><i>No Results Found</i><p>
        <hr>

    {% else %}

    {% for member in members %}
      <hr>
      <div class="memberblock">
        <div class="memberpic"><img src="{% static '' %}{{ member.photo }}" alt="profile_photo"></div>
        <div class="membercontent">
            <p> Name: {{ member.name }} </p>
            <p> Address: {{ member.address }}</p>
            <p> D.O.B.: {{ member.birth_month }} {{ member.birth_day}}, {{member.birth_year}}</p>
            <p> Profession: {{ member.profession }} </p>
            <p> Ministry: {{ member.ministry }} </p>
            <p> Class Number: {{ member.classNumber }} </p>
        </div>
      </div>
      <hr>
      <br><br>
    {% endfor %}
    {% endif %}
{% endblock %}
