{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Search{% endblock %}

{% block content %}
    <!--
    <script>
      //handles queries
      function search()
      {
        var lookup = document.getElementById("query").value;
        var newlook = lookup.replace(" ","_");
        location.href="/search/"+newlook;
      }
    </script> -->

    <h2>Search Phillipo Members</h2>

    <div class="searchbox" style="margin-top:50px">
        <input type="text" id="query" size="30">
        <input type="submit" class="button" value="Search" onClick="search()">
    </div>

    <br><br>

    {% if not members %}

        <hr>
          <p><i>No Results Found</i><p>
        <hr>

    {% else %}

    {% for member in members %}
        <hr>
        <div class="memberblock">
          <div class="memberpic"><img src="{% static '' %}{{ member.photo }}" alt="profile_photo"></div>
          <div class="membercontent">
              <p> Name: {{ member.name }} </p>
              <p> Address: {{ member.address }}</p>
              <p> D.O.B.: {{ member.birth_month }} {{ member.birth_day}}, {{member.birth_year}}</p>
              <p> Profession: {{ member.profession }} </p>
              <p> Ministry: {{ member.ministry }} </p>
              <p> Class Number: {{ member.classNumber }} </p>
          </div>
        </div>
        <hr>
        <br><br>
    {% endfor %}
    {% endif %}
{% endblock %}
